<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ipp="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QBO OpenID</title>
    <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.5.js"></script>
</head>
<body>
    <!-- substitute your openid authentication url -->
    <ipp:login href="https://qbo-openid-node-sample.io:3000/authenticate" type="horizontal"></ipp:login>
</body>
</html>